
body {
    color: black;
    text-align: center;
    font-size: 25px;
    background-image: url(bak2.jpg);
     background-repeat: no-repeat; 
     background-size: 100%;
}

table {
    margin-inline: 200px;
    text-align: center;
    font-size: 30px;
}

input {
    margin: 30px;
    height: 50px;
    width: 291px;
    font-size: 40px;
    opacity: 0.5;
    font-weight: bold;
}

.input :hover {
    border-color: white;
}

button {
    color: rgb(249, 247, 247);
    background-color: rgb(24, 156, 154);
    width: 70px;
    height: 65px;
    font-weight: bold;
    font-size: 25px;
}

button:hover {
    background-color: rgb(20, 219, 219);
    color: black;
    border-color: white;
}

h1 {
    text-align: center;
}

.calculator {
    text-align: center;
    align-content: center;
}

